@import "../constants";

#content-layout header {
  background-color: $blue;

  // メニューの左端をコンテンツと揃える
  nav ul li:first-child a {
    padding-left: 0;
  }
}

// main container
#content-layout .content-container {
  margin-top: 3em;
  margin-bottom: 3em;
}
