.page-title {
  margin-top: 1rem;

  :first-child {
    font-size: 1.5rem;
    &:first-letter {
      font-size: 3em;
    }
  }
}

.list-item {

  margin-top: 3rem;
  margin-bottom: 3rem;

  .title {
    margin-bottom: 2rem;

    // アイコン・タイトルをそれぞれ中央に表示
    .left {
      align-items: center;
    }
    .right {
      display: flex;
      align-items: center;
    }

    // 丸アイコン
    img {
      border-radius: 50% ;
    }
  }

  .desc {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .timestamp {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tags {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
