@import "../constants";

.post {

  margin-top: 3rem;
  margin-bottom: 3rem;

  .title {
    margin-top: 3rem;
    margin-bottom: 3rem;

    // アイコン・タイトルをそれぞれ中央に表示
    .left {
      align-items: center;
    }
    .right {
      display: flex;
      align-items: center;
    }

    // 丸アイコン
    img {
      border-radius: 50% ;
    }
  }

  .timestamp {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tags {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .content {
    // それっぽいマージン
    margin-top: 3rem;
    margin-bottom: 3rem;

    h2, h3, h4, h5, h6 {
      margin-top: 1.3em;
      margin-bottom: 0.5em;
    }

    // それっぽいインデント
    p {
      text-indent: 1em;
    }

    // 記事・メニューの上辺を揃える
    ul.nav li.nav-item:first-child .nav-link {
      padding-top: 0;
    }
    .right :first-child { margin-top: 0; }
  }

  .author {
    margin-top: 3rem;
    margin-bottom: 3rem;

    // アイコンは中央に表示
    .left {
      align-items: center;
    }

    img {
      // 丸っぽいアイコン
      border-radius: 50% 0 50% 50% ;
    }

    // それっぽいインデント
    p {
      text-indent: 1em;
    }

    // Author: xxx のところ
    .right :first-child {
      font-size: 1.5rem;
      &:first-letter {
        font-size: 3em;
      }
    }
  }

  .ad .right {
    padding-top: 3rem;
    border-top: dashed;
  }
}

