#teaser #panel-content {
  &.wave .panel {
    &:nth-child(16n + 1) { transition-delay: 0s; }
    &:nth-child(16n + 2) { transition-delay: 0.05s; }
    &:nth-child(16n + 3) { transition-delay: 0.1s; }
    &:nth-child(16n + 4) { transition-delay: 0.15s; }
    &:nth-child(16n + 5) { transition-delay: 0.2s; }
    &:nth-child(16n + 6) { transition-delay: 0.25s; }
    &:nth-child(16n + 7) { transition-delay: 0.3s; }
    &:nth-child(16n + 8) { transition-delay: 0.35s; }
    &:nth-child(16n + 9) { transition-delay: 0.4s; }
    &:nth-child(16n + 10) { transition-delay: 0.45s; }
    &:nth-child(16n + 11) { transition-delay: 0.5s; }
    &:nth-child(16n + 12) { transition-delay: 0.55s; }
    &:nth-child(16n + 13) { transition-delay: 0.6s; }
    &:nth-child(16n + 14) { transition-delay: 0.65s; }
    &:nth-child(16n + 15) { transition-delay: 0.7s; }
    &:nth-child(16n) { transition-delay: 0.75s; }
  }
}
